<table>
<thead>
  <tr>
    <th> NAME</th>
    <th>CONTACT</th>
    <th>EMAIL</th>
    <th>ADDRESS</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= f.text_field :name, label: false, id: "name", onkeyup: "forUpperCase()", class: "cctv form-control" %></td>
    <td><%= f.number_field :contact, label: false, class: "cctv form-control" %></td>
    <td><%= f.text_field :email, label: false, class: "cctv form-control" %></td>
    <td><%= f.text_field :address, label: false, class: "cctv form-control" %></td>
  </tr>
</tbody>
</table>

<div class="form-actions">
  <%= f.button :submit %>
</div>