
<script>
  
  var cctvs = <%= Cctv.all.group_by{|x| [x.product.name, x.product_id].join(":") }.to_json.html_safe %>;
  var cctvsPrice = <%= Cctv.all.group_by{|x| [x.product.name, x.id].join(":") }.to_json.html_safe %>;

$(document).ready(function(){

  //for Dome camera
  selectedCategory = $('.dome-camera-dropdown').text();  
 
  selectedBrand = 1;
  selectProducts = cctvs[selectedCategory + ":" + selectedBrand];

  productDropdown = $('.dome-camera-category');
  productDropdown.empty();

  productDropdown.append($("<option></option>")
    .attr("value","")
    .text("Select category")); 

  $.each(selectProducts, function(key, cctv) {  
      productDropdown.append($("<option></option>")
        .attr("value",cctv.id)
        .text(cctv.category)); 
  });


    //for Bullet camera
    selectedCategory = $('.bullet-camera-dropdown').text();  
   
    selectedBrand = 2;
    selectProducts = cctvs[selectedCategory + ":" + selectedBrand];

    productDropdown = $('.bullet-camera-category');
    productDropdown.empty();

    productDropdown.append($("<option></option>")
      .attr("value","")
      .text("Select category")); 

    $.each(selectProducts, function(key, cctv) {  
        productDropdown.append($("<option></option>")
          .attr("value",cctv.id)
          .text(cctv.category)); 
    });


    //for dvr
   

    //for smps


    //for connector
    selectedCategory = $('.connector-dropdown').text();
    
    selectedBrand = 5;
    selectProducts = cctvs[selectedCategory + ":" + selectedBrand];
     
    productDropdown = $('.connector-category');
    productDropdown.empty();

    productDropdown.append($("<option></option>")
        .attr("value","")
        .text("Select category")); 

    $.each(selectProducts, function(key, cctv) { 
    productDropdown.append($("<option></option>")
        .attr("value",cctv.id)
        .text(cctv.category)); 
    });
    
    //FOR HDD
    selectedCategory = $('.hdd-dropdown').text();

    selectedBrand = 6;
    selectProducts = cctvs[selectedCategory + ":" + selectedBrand];
 
    productDropdown = $('.hdd-category');
    productDropdown.empty();

    productDropdown.append($("<option></option>")
       .attr("value","")
       .text("Select category")); 

    $.each(selectProducts, function(key, cctv) { 
        
    productDropdown.append($("<option></option>")
          .attr("value",cctv.id)
          .text(cctv.category)); 
    });

    // for wire
    selectedCategory = $('.wire-dropdown').text();
    selectedBrand = 7;
    selectProducts = cctvs[selectedCategory + ":" + selectedBrand];

    productDropdown = $('.wire-category');
    productDropdown.empty();

    productDropdown.append($("<option></option>")
        .attr("value","")
        .text("Select category")); 

    $.each(selectProducts, function(key, cctv) { 
       // alert('hii');  
        productDropdown.append($("<option></option>")
          .attr("value",cctv.id)
          .text(cctv.category)); 
    });

    //for installation
    selectedCategory = $('.installation-dropdown').text();

    selectedBrand = 8;
    selectProducts = cctvs[selectedCategory + ":" + selectedBrand];
    
  productDropdown = $('.installation-category');
    productDropdown.empty();

    productDropdown.append($("<option></option>")
        .attr("value","")
        .text("Select category")); 

    $.each(selectProducts, function(key, cctv) { 
       
        productDropdown.append($("<option></option>")
          .attr("value",cctv.id)
          .text(cctv.category)); 
    });
});

</script>
  
  <%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="breadcrumb" style="background-color: #000000;">
    <div class="card-header">
      <h2 style="color: white;">CAMERA</h2>
    </div>
    <table class="breadcrumb-item table">
      <tbody>
        <tr>
          <td><strong>DOME CAMERA:</strong><input type="number_field" name="" class="form-control" placeholder="  QUANTITY..." id="dome" onkeyup="addition()"></td>
          <td><strong>BULLET CAMERA:</strong><input type="number_field" name="" class="form-control" placeholder="  QUANTITY..." id="bullet" onkeyup="addition()"></td>
          <td><strong>TOTAL CAMERA:  </strong><br><span id="demo" style="font-size: 24px;"></span></td>
        </tr>
      </tbody>
    </table>
  </div> 
  
  <%= render 'item', f: f %> 
  <%= render 'customer', f: f %> 

<% end %>


