
<script>
  
  var cctvs = <%= Cctv.all.group_by{|x| [x.product.name, x.product_id].join(":") }.to_json.html_safe %>;
  var cctvsPrice = <%= Cctv.all.group_by{|x| [x.product.name, x.id].join(":") }.to_json.html_safe %>;


$(document).ready(function(){
  productValues();
});

</script>
  
  <%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="breadcrumb" style="background-color: #000000;">
    <div class="card-header">
      <h2 style="color: white;">CAMERA</h2>
    </div>
    <table class="breadcrumb-item table">
      <tbody>
        <tr>
          <td><strong>DOME CAMERA:</strong><input type="number_field" name="" class="form-control cctv" placeholder="  QUANTITY..." id="dome" onkeyup="addition()"></td>
          <td><strong>BULLET CAMERA:</strong><input type="number_field" name="" class="form-control cctv" placeholder="  QUANTITY..." id="bullet" onkeyup="addition()"></td>
          <td><strong>TOTAL CAMERA:  </strong><br><span id="demo" style="font-size: 24px;"></span></td>
        </tr>
      </tbody>
    </table>
  </div> 
  
  <%= render 'item', f: f %> 
<a class="btn btn-primary" data-toggle="modal" data-target="#customer-model" style="color: white;" id="customerModel" ><i class="fa fa-hand-o-up"></i> PROCEED</a>
<div class="modal fade" id="customer-model" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="background-color: rgba(93, 103, 106, 0.31)">
    <div class="modal-dialog modal-lg" id= "customermm">
      <div class="modal-content" style="width: 650px;margin: 238px 0 0 6% !important;">
        <div class="container-fluid invoice_wrapper" style="margin:5px">
          <%= render 'customer', f: f %> 
        </div>
      </div>
    </div>
  </div>
<% end %>





