<!--<script>-->

<!--    var items = ["CAMERA","DVR", "SMPS","HDD","CONNECTORS","WIRES","INSTALLATION"]-->
<!--    var cctvs = <%#= Cctv.all.group_by{|x| [x.product_id, x.id].join(":") }.to_json.html_safe %>;-->

<!--    var price= <%#= Cctv.all.group_by{|x| [x.Items.name, x.Cctv.category, x.id].join(":") }.to_json.html_safe %>;-->


<!--    jQuery(function() {-->
<!--        var brands;-->
<!--        brands = $('#item-category-name').html();-->

<!--        return $(document).on("change",".product_name",function(){-->
<!--            var product = 1;-->
<!--            selectProducts = cctvs[product + ":" + selectedBrand];-->
<!--            var category, options;-->
<!--            category = $('.product_name :selected').text();-->
<!--            alert(category);-->

<!--            options = $(brands).filter("optgroup[label=" + category + "]").html();-->

<!--            console.log(options);-->
<!--            if (options) {-->
<!--                return $('#item-category-name').html(options);-->
<!--                // return $('#product_brand_id').parent().show();-->
<!--            } else {-->
<!--                // return $('#product_brand_id').parent().hide();-->
<!--                return $('#item-category-name').empty();-->
<!--            }-->
<!--        });-->
<!--    });-->


<!--    // jQuery(function() {-->
<!--    //     var items;-->
<!--    //     items = $('category_name').html();-->
<!--    //     console.log(items);-->
<!--    //     return $(document).on("click",".product_name",function(){-->
<!--    //         product = smps;-->
<!--    //         selectProducts = cctvs[product + ":" + selectedBrand];-->
<!--    //-->
<!--    //-->
<!--    //-->
<!--    //         if(items == "CAMERA")-->
<!--    //     {-->
<!--    //         Category =  cctv.category;-->
<!--    //     }-->
<!--    //         // jQuery(function() {-->
<!--    //         //     return $(document).on("change",".brand-dropdown",function(){-->
<!--    //         //         selectedCategory = $(this).parent('td').prev('td').children('.category-dropdown').val();-->
<!--    //         //         selectedBrand = $(this).val();-->
<!--    //         //         selectProducts = products[selectedCategory + ":" + selectedBrand];-->
<!--    //         //         productDropdown = $(this).parent('td').next('td').children('.model-dropdown');-->
<!--    //         //         productDropdown.empty();-->
<!--    //         //-->
<!--    //         //         productDropdown.append($("<option></option>")-->
<!--    //         //             .attr("value","")-->
<!--    //         //             .text("Select Model"));-->
<!--    //         //-->
<!--    //         //         $.each(selectProducts, function(key, product) {-->
<!--    //         //             // alert('hii');-->
<!--    //         //             productDropdown.append($("<option></option>")-->
<!--    //         //                 .attr("value",product.id)-->
<!--    //         //                 .text(product.model));-->
<!--    //         //         });-->
<!--    //         //     });-->
<!--    //         // });-->
<!--    //-->
<!--    //     });-->
<!--    // });-->



<!--</script>-->

    <%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <table class="table">
      <thead>
      <tr>
        <td>ITEM NAME</td>
        <td>CATEGORY</td>
        <td>PRICE</td>
        <td>QUANTITY</td>
        <td>TOTAL</td>
      </tr>
      </thead>
    </table>
    <%= f.fields_for :items do |item| %>
    <%= render 'item', f: item  %>
    <% end %>



  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :contact %>
    <%= f.input :email %>
    <%= f.input :address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>


<% end %>


