<table class="table">
    <thead>
      <tr>
        <td>ITEM NAME</td>
        <td>CATEGORY</td>
        <td>PRICE</td>
        <td>QUANTITY</td>
        <td>TOTAL</td>
      </tr>
    </thead>
    <tbody>  
      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td class="dome-camera-dropdown">DOME CAMERA</td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false}, {:class=>'form-control cctv dome-camera-category', :autofocus => true} %>
          </td>
          <td><%= item.number_field :price, :label => false, class: "form-control price", onclick: "colorChange()" %></td>
          <td><%= item.number_field :quantity, :label => false, class: "qty domeQty" %></td>

          <td><span class="total">00</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td class="bullet-camera-dropdown">BULLET CAMERA</td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false}, {:class=>'form-control cctv bullet-camera-category', :autofocus => true} %>
          </td>
          <td><%= item.number_field :price, :label => false, class: "form-control price" %></td>
          <td><%= item.number_field :quantity, :label => false, class: "qty bulletQty" %></td>
          <td><span class="total">00</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td class="dvr-dropdown">DVR</td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false},{:class=>'form-control cctv dvr-category', :autofocus => true} %>
            </td>
          <td><%= item.number_field :price, :label => false, class: "form-control price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, class: "qty" %></td>
          <td><span class="total">00</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td class="smps-dropdown">SMPS</td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false},{:class=>'form-control cctv smps-category', :autofocus => true} %>
            </td>
          <td><%= item.number_field :price, :label => false, class: "form-control price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, class: "qty" %></td>
          <td><span class="total">00</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td class="connector-dropdown">CONNECTOR</td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false},{:class=>'form-control cctv connector-category', :autofocus => true} %>
          </td>
          <td><%= item.number_field :price, :label => false, class: "form-control price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, class: "qty" %></td>
          <td><span class="total">00</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>

      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td class="hdd-dropdown">HDD</td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false},{:class=>'form-control cctv hdd-category', :autofocus => true} %>
            </td>
          <td><%= item.number_field :price, :label => false, class: "form-control price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, class: "qty" %></td>
          <td><span class="total">00</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td class="wire-dropdown">WIRE</td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false},{:class=>'form-control cctv wire-category', :autofocus => true} %>
            </td>
          <td><%= item.number_field :price, :label => false, class: "form-control price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, class: "qty" %></td>
          <td><span class="total">00</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td class="installation-dropdown">INSTALLATION</td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false},{:class=>'form-control cctv installation-category', :autofocus => true} %>
          </td>
          <td><%= item.number_field :price, :label => false, class: "form-control price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, class: "qty" %></td>
          <td><span class="total">00</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
      <tr>
        <td colspan="3"></td>
        <td style="text-align: right;">GRAND TOTAL:</td>
        <td><span class="grandTotal"></span></td>
      </tr>
    </tbody>
  </table>