
<table class="table">
    <thead>
      <tr>
        <td>ITEM NAME</td>
        <td>CATEGORY</td>
        <td>PRICE</td>
        <td>QUANTITY</td>
        <td>TOTAL</td>
      </tr>
    </thead>
    <tbody>  
    
      <%= f.fields_for :items do |item| %>
    
        <tr class="item-row">
          <td><%= item.text_field :product_name, :value => "DOME CAMERA", label: false, :readonly => true, class: "dome-camera-dropdown product-name form-control" %></td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false}, {:class=>'form-control cctv dome-camera-category', :autofocus => true} %>
          </td>
          <td><%= item.number_field :price, :label => false, :readonly => true, class: "form-control price", onclick: "colorChange()" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, :readonly => true, class: "qty domeQty form-control" %></td>

          <td><span class="total">0</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
     
     
      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td><%= item.text_field :product_name, :value => "BULLET CAMERA", label: false, :readonly => true, class: "bullet-camera-dropdown product-name form-control" %></td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false}, {:class=>'form-control cctv bullet-camera-category'} %>
          </td>
          <td><%= item.number_field :price, :label => false, :readonly => true, class: "form-control price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, :readonly => true, class: "qty bulletQty form-control" %></td>
          <td><span class="total">0</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
      

      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td><%= item.text_field :product_name, :value => "DVR", label: false, :readonly => true, class: "dvr-dropdown product-name form-control" %></td>
          <td>
            <%= item.collection_select :cctv_id,  Cctv.all, :id, :category, {include_blank: "Select Category", label: false}, {:class=>'form-control cctv dvr-category'} %>
            </td>
          <td><%= item.number_field :price, :label => false, :readonly => true, class: "form-control price", id: "dvr-price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, :readonly => true, class: "qty form-control", id: "dvr-quantity" %></td>
          <td><span class="total" id="dvr-total">0</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
      

      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td><%= item.text_field :product_name, :value => "SMPS", label: false, :readonly => true, class: "smps-dropdown product-name form-control" %></td>
          <td>
             <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category" , label: false}, {:class=>'form-control cctv smps-category' } %>
            </td>
          <td><%= item.number_field :price, :label => false, :readonly => true, class: "form-control price", id: "smps-price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, :readonly => true, class: "qty form-control", id: "smps-quantity" %></td>
          <td><span class="total" id="smps-total">0</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
     
     
      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td><%= item.text_field :product_name, :value => "CONNECTOR", label: false, :readonly => true, class: "connector-dropdown product-name form-control" %></td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false},{:class=>'form-control cctv connector-category' }  %>
          </td>
          <td><%= item.number_field :price, :label => false, :readonly => true, class: "form-control price", id: "connector-price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, :readonly => true, class: "qty form-control", id: "connector-quantity" %></td>
          <td><span class="total" id="connector-total">0</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>

    
      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td><%= item.text_field :product_name, :value => "HDD", label: false, :readonly => true, class: "hdd-dropdown product-name form-control" %></td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false},{:class=>'form-control cctv hdd-category'} %>
            </td>
          <td><%= item.number_field :price, :label => false, :readonly => true, class: "form-control price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, :readonly => true, class: "qty form-control" %></td>
          <td><span class="total">0</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
     

      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td><%= item.text_field :product_name, :value => "WIRE", label: false, :readonly => true, class: "wire-dropdown product-name form-control" %></td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false},{:class=>'form-control cctv wire-category'} %>
            </td>
          <td><%= item.number_field :price, :label => false, :readonly => true, class: "form-control price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, :readonly => true, class: "qty form-control" %></td>
          <td><span class="total">0</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
    

      <%= f.fields_for :items do |item| %>
        <tr class="item-row">
          <td><%= item.text_field :product_name, :value => "INSTALLATION", label: false, :readonly => true, class: "installation-dropdown product-name form-control" %></td>
          <td>
            <%= item.collection_select :cctv_id, Cctv.all, :id, :category, {include_blank: "Select Category", label: false},{:class=>'form-control cctv installation-category'} %>
          </td>
          <td><%= item.number_field :price, :label => false, :readonly => true, class: "form-control price" %></td>
          <td><%= item.number_field :quantity, :label => false, :value => 1, :readonly => true, class: "qty form-control" %></td>
          <td><span class="total">0</span></td>
          <%= item.input :customer_id, :label => false, as: :hidden %>
        </tr>
      <% end %>
     
      <tr>
        <td colspan="3"></td>
        <td style="text-align: right;">GRAND TOTAL:</td>
        <td><span class="grandTotal"></span></td>
      </tr>
    </tbody>
  </table>